.smallFont{font-size: 12px;}
.descriptionFont {font-size: 14px;}
.labelFont {font-size: 18px;}
.titleFont {font-size: 28px;}

.lightWeight{font-weight: 300;}
.normalWeight{font-weight: 400;}
.boldWeight{font-weight: 700;}